@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --shadow: rgba(0, 0, 0, 0.062) 0px 4px 5px;
}

body {
    overflow-x: hidden !important;
}

/* ::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #000000;
} */

header{ 
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    height: 12vh;
    position: sticky;
    top: 0;
    background-color: white;
    transition: 0.3s ease-in-out;
    z-index: 10;
}

header.active {
    box-shadow: var(--shadow);
}

.header-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(43, 43, 43);
    text-align: center;
    justify-content: space-around;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    transform: translateX(-100%);
    left: 0;
    top: 0;
     transition: 0.3s ease-in-out; 
}

.header-list.active {
    transform: translateX(0);
}

.burger {
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    background-color: transparent;
    margin: 1rem;
    cursor: pointer;
}

.burger span {
    width: 100%;
    height: 0.2rem;
    background-color: black;
    transition: 0.3 ease-in-out;
}

.burger.active {
    z-index: 10;
}

.burger.active > span {
    background-color: white;
}

.burger.active > span:nth-child(1) {
    transform: rotate(-45deg) translateY(1rem);
    width: 80%;
}

.burger.active > span:nth-child(2) {
    transform: rotate(45deg) translateY(-0.7rem);
    width: 80%;
}
.burger.active > span:nth-child(3) {
    display: none;
}

#main-text {
    font-size: 2rem;
    font-weight: bold;
}

.main {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
}
#gif {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    z-index: 7;
}

/* SECTION 2 */

.main2 {
    width: 100vw;
    /* height: 80vh; */
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 1rem 3rem;
}

#header-main2 {
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 2.3rem;
    font-weight: bold;
}
#text-main2 {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-align: justify;
    color: rgb(0, 0, 0);
}

#main-2-man {
    width: 40vw;
}


/* SECTION 3 */

.main3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:rgb(75, 75, 75);
    padding: 2rem;
}

#main-right-picture {
    width: 35rem;
    height: 35rem;
    display: flex;
    justify-content: center;
}
.main-right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left {
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main-left #main-text {
    font-size: 3rem;
}

.main-left #changing-text {
    font-size: 1.5rem;
}

.main-left #cursor {
    font-size: 1.5rem;
}

#cursor.active  {
    animation: blink 1s infinite;
}


/* FOOTER */

#stopka {
    width: 100vw;
    height: 30vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

#stopka #footer-text-copyright a  {
    text-decoration: none;
    color: white;
}
#stopka #footer-text-p2 a  {
    text-decoration: none;
    color: rgb(173, 173, 173);

}
#footer-text-p1, #footer-text-p2 {
    color: rgb(173, 173, 173);
    text-transform: uppercase;
    text-align: center;
}

#footer-text-copyright {
    font-size: 1rem;
    color: white;
    letter-spacing: .125rem;
    text-transform: uppercase;
    transition: letter-spacing 0.5s;
    text-align: center;
}
#footer-text-copyright:hover {
    transition: letter-spacing 0.5s;
    letter-spacing: .225rem;
}


/* DEKSTOP VERSION  */

@media only screen and (min-width: 1000px) {
    header {
        position: sticky;
        top: 0;
        display: flex;
        background-color: white;
        z-index: 9999;
        transition: 0.3s ease-in-out;
        header: 10vh;
    }
    header.active {
        box-shadow: var(--shadow);
    }
    .header-list {
        position: unset;
        background-color: transparent;
        color: black;
        list-style-type: none;
        flex-direction: row;
        transform: none;
        height: inherit;
        width: max-content;
        gap: 8rem;
        font-weight: normal;
        align-items: center;
        padding-right: 3rem;   
    }
    .header-list li {
        cursor: pointer;
    }
    .burger {
        display: none;
    }
    .header-list .list-li {
        position: relative;
    }
    .header-list .list-li::after {
        content: '';
        width: 0%;
        height: 0.2rem;
        background-color: black;
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        border-radius: 2rem;
        transition: all 0.2s ease-in-out;
    }
    .header-list .list-li:hover::after {
        width: 100%;
    }
    .main2 {
        height: 70vh;
    }
}

/* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
    .main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     .main-left {
        width: 100vw;
        display: flex;
        justify-content: center;
    } 
    #main-right-picture {
        width: 60vw;
    }

    .main2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header-main2 {
        margin-top: 5rem;
    }
    .main2 {
        height: 150vh;
        padding: 1rem 0.2rem;
        
    }
}

@media only screen and (min-width: 750px)  {
    #main-right-picture {
        width: 75vw;
    }
}


@media only screen and (max-width: 1200px)  {
    #main-right-picture {
        width: 55vw;
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    #main-right-picture {
        width: 70vw;
    }
    .main-left #main-text {
        font-size: 2.1rem;
    }
    .main .main-right {
        display: flex;
        flex-direction: column;
        margin-top: -10rem; 
    }
    .main2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* KEYFRAMES  */

@keyframes blink {
    0%  { color: black; }
  49% { color: black; }
  50% { color: transparent; }
  99% { color: transparent; }
  100%  { color: black; }
}